<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Navigator</title>
</head>
<body>
    <h1>Below is the link to five sites</h1>
    <a style="margin-left: 50px;" href="https://www.google.com">Google</a><br>
    <a style="margin-left: 50px;" href="https://www.facebook.com">Facebook</a><br>
    <a style="margin-left: 50px;" href="https://www.instgram.com">Instgram</a><br>
    <a style="margin-left: 50px;" href="https://www.linkedin.com">linkedIn</a><br>
    <a style="margin-left: 50px;" href="https://www.kukofm.com">KukuFM</a>
</body>
</html>